<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Budget App</h1>
    <p>Welcome to Budget Backend</p>
  </body>
</html>
